PZERO_SOURCE=/data/raw

POSTGRES_DB=pzero
POSTGRES_USER=pzero
POSTGRES_PASSWORD=pzero
POSTGRES_PORT=5432

MARIADB_DATABASE=pzero
MARIADB_USER=pzero
MARIADB_PASSWORD=pzero
MARIADB_ROOT_PASSWORD=pzero_root
MARIADB_PORT=3306

